
# tracker-specific packages ----------------------------------------------------

openvino-dev==2023.0.2
nncf==2.5.0

scikit-learn==1.3.1            # gsi
loguru==0.7.2
gdown==4.7.1                   # google drive model download
ftfy==6.1.1                    # clip  
regex==2023.6.3                # clip
filterpy==1.4.5                # OCSORT & DeepOCSORT
lapx==0.5.4

opencv-python==4.7.0.72        # my prefered version
numpy==1.23.1                  # otherwise issues with track eval

GitPython>=3.1.0               # track eval cloning

pandas==2.0.1                  # export matrix
pre-commit>=3.3.3
PyYAML>=5.3.1                  # read tracker configs

tensorboard>=2.13.0

# base -------------------------------------------------------------------------
# (minimum requirements, we should have installed them beforehand following pytorch guide)

torch>=1.7.0
torchvision>=0.8.1
yacs>=0.1.8                    # clip

# Export ----------------------------------------------------------------------

# onnx>=1.12.0                 # ONNX export
# onnxsim>=0.4.1               # ONNX simplifier
# nvidia-pyindex               # TensorRT export
# nvidia-tensorrt              # TensorRT export
# openvino-dev>=2022.3         # OpenVINO export
# onnx2tf>=1.10.0              # TFLite export

# Hyperparam search -----------------------------------------------------------

# optuna                       # genetic algo
# plotly                       # hyper param importance and pareto front plots
# kaleido
# joblib
